<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="uni.app.UNI1A39247">

  <!-- Network permission for SSE/HTTP requests -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:networkSecurityConfig="@xml/network_security_config"
    android:usesCleartextTraffic="true"
    tools:targetApi="28">
    <!-- Attributes and components from the host app will be merged by HBuilderX/cloud packager -->
  </application>

</manifest>


